//Colors
$background: rgb(109, 203, 226);
$color1: #232931;
$color2: #393e46;
$color3: #4ecca3;
$color4: #eeeeee;
$outline1: rgba(188, 190, 188, 255);
$color5: #20ddbe;
$color6: #685959;
// $color6: #a18989;

//BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
